.image-bar__wrapper__zuju{
  position:absolute;
  left: 65%;
  top: 50%;
  transform: translate(-50%, -45%);
  margin: 0 50px;
  text-align: center;
  color: #fff;
}

.image-bar__title__zuju{
  font-family: $zujuBlack;
}

.image-bar__description{
  margin: 16px 0;
}