.product-recommendations{
	padding-top: 80px;
	padding-bottom: 0px;

	max-width: 1200px;
	@include media(">=750px"){
		&__slide{
			-webkit-flex: 0 0 calc(25% - 4rem);
			-moz-flex: 0 0 calc(25% - 4rem);
			-ms-flex: 0 0 calc(25% - 4rem);
			flex: 0 0 calc(25% - 4rem);
		}
	}

	@include media("<=750px"){
		&__slide{
			-webkit-flex: 0 0 calc(50% - 4rem);
			-moz-flex: 0 0 calc(50% - 4rem);
			-ms-flex: 0 0 calc(50% - 4rem);
			flex: 0 0 calc(50% - 4rem);
		}

		&__slide:nth-child(n+2):last-child {
			padding-right: 0!important;
			//margin-right: 4rem;
		}
	}

	@include media("<=450px"){
		&__slider, &__slide{
			-webkit-flex: 0 0 100%;
			-moz-flex: 0 0 100%;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
		}
	}

	&__indicators-wrapper{
		display: none;
	}
	

	&__slide_zuju{
		height: unset!important;
		
		.card__zuju{
			height: unset!important;
		}

		.card__price{
			margin-top: 30px;
		}
	}
}