<div class="feature-row_zuju">
	
	<div class="feature-row_zuju-image">
		<img class="lazyload fade-in" src="{{ section.settings.image.src | img_url: '800x'}}" >
	</div>


	<div class="feature-row_zuju-text">
		<div class="zuju__text"> One-off items in <span class="zuju__text-big">Impossibly Limited</span> runs </div>
	</div>

</div>

{% schema %}
{
  "name": {
    "cs": "Obrázek s textem",
    "da": "Billede med tekst",
    "de": "Foto mit Text",
    "en": "Zuju Image with texts",
    "es": "Imagen con texto",
    "fi": "Kuva tekstillä",
    "fr": "Image avec texte",
    "it": "Immagine con testo",
    "ja": "テキスト付き画像",
    "ko": "텍스트 포함 이미지",
    "nb": "Bilde med tekst",
    "nl": "Afbeelding met tekst",
    "pl": "Obraz z tekstem",
    "pt-BR": "Imagem com texto",
    "pt-PT": "Imagem com texto",
    "sv": "Bild med text",
    "th": "รูปภาพพร้อมข้อความ",
    "tr": "Metin içeren görsel",
    "vi": "Hình ảnh có chữ",
    "zh-CN": "带文本图片",
    "zh-TW": "附文字的圖片"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Obrázek s textem",
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Zuju Image with text",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pl": "Obraz z tekstem",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "tr": "Metin içeren görsel",
        "vi": "Hình ảnh có chữ",
        "zh-CN": "带文本图片",
        "zh-TW": "附文字的圖片"
      },
      "category": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}